/* Main body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body {
    font-family: "Open Sans", sans-serif;
    background-color: #2c2d2f;
}

h6 {
    margin-top: 0;
}

.app__content {
    display: flex;
    margin-top: 1%;
    color: #000000;
    border-radius: 0.55rem;
}

.app__title {
    display: flex;
    margin-top: 2%;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    border-radius: 0.55rem;
    text-align: left;
}

#footer {
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid #0C2343;
}


/* Dropdowns, Inputs, and Sliders
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.div-for-dropdown {
    padding: 5px 5px 5px 5px;
    color: black;
}

.div-for-input {
    padding: 5px 5px 5px 5px;
    color: white;
    border-color: white;
    border: 0;
}

.div-for-slider {
    width: 80%;
    color: white;
    padding: 2% 0px 0px 0px;
}

/* Graphs
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.graph__title {
    color: white !important;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px !important;
    font-size: 1em;
    text-align: left;
}

.user__control__panel {
    margin-top: 1%;
    background-color: #f9f9f9;
    border-radius: 0.55rem;
    color: white;
}

.bottom__box{
    background-color: #404349;
    border-radius: 0.55rem;
    padding: 1% 1% 1% 1%;
    color: #ffffff;
}

.auto__p {
    margin-bottom: 0;
}

.graph__container {
    background-color: #404349;
    border-radius: 0.55rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#ont-map {
    height: 92%;
    justify-content: center;
    background-color: #404349;
    font-family: "Open Sans", sans-serif;
}

.map {
    height: 570px;
    padding: 1% 1% 1% 1%;
}

.first {
    height: flex;
    padding: 0.5px 0.5px 1%;
    color: white;
    margin-bottom: 0;
}

.second {
    height: auto;
    padding: 0.5px 0.5px 1%;
    color: white;
    margin-bottom: 0;
    margin-top: 15px;
}

.third {
    height: 570px;
    padding: 2% 2% 2% 2%;
    color: white;
}

.fourth {
    height: 140px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
